.wrapper{
    display: flex;
    width: 100%;
    padding-top:1px;
    justify-content: space-between;
    .leftNav{
        width: 15%;
        padding: 0;
        li{
            list-style: none;
            padding: 0;
        }
    }
    .rightContent{
        width: 85%;
    }
}